<!DOCTYPE html>
<html>
<head>
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Indian Christian Literature</title>
    {{/if}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/metro.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/metro-icons.css" rel="stylesheet" type="text/css" />

    <script src="/assets/js/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/metro/metro.js"></script>

</head>
<body>
    <div class="container">
        <header class="margin20 no-margin-left no-margin-right">
            <div class="clear-float">
                <a class="place-left" href="#" title="">
                    <h1>Indian Christian Literature</h1>
                </a>
            </div>

            <div class="main-menu-wrapper">
                <ul class="horizontal-menu" style="margin-left: -20px">
                    <li><a href="/main/lyrics">lyrics</a></li>
                    <li><a href="/main/music">music</a></li>
                    <li><a href="/main/videos">videos</a></li>
                    <li><a href="/">home</a></li>
                </ul>
            </div>
        </header>

        {{{body}}}
        
        
        <footer>
            <div class="bottom-menu-wrapper">
                <ul class="horizontal-menu compact">
                    <li>&copy; 2015 Indian Christian Literature</li>
                </ul>
            </div>
        </footer>
    </div>

</body>
</html>