<div>
	<form>
		<fieldset>
			<legend>Add New Event</legend>
			<label>Event Name</label>
			<div class="input-control text" data-role="input-control">
				<input type="text" placeholder="type text">
				<button class="btn-clear" tabindex="-1" type="button"></button>
			</div>
			<label>Event Location</label>
			<div class="input-control text" data-role="input-control">
				<input type="text" placeholder="type text" autofocus="">
				<button class="btn-clear" tabindex="-1" type="button"></button>
			</div>
			<label>Start Time</label>
			<div class="input-control text" data-role="input-control">
				<input type="text" placeholder="type text" autofocus="">
				<button class="btn-clear" tabindex="-1" type="button"></button>
			</div>
			<label>End Time</label>
			<div class="input-control text" data-role="input-control">
				<input type="text" placeholder="type text" autofocus="">
				<button class="btn-clear" tabindex="-1" type="button"></button>
			</div>
			<div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Sunday
					</label>
				</div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Monday
					</label>
				</div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Tuesday
					</label>
				</div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Wednesday
					</label>
				</div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Thursday
					</label>
				</div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Friday
					</label>
				</div>
				<div class="input-control checkbox" data-role="input-control">
					<label>
						<input type="checkbox" name="day">
						<span class="check"></span>
						Saturday
					</label>
				</div>				
			</div>

			<div>
				<div class="input-control radio default-style" data-role="input-control">
					<label>
						<input type="radio" name="recurrence" value="oneday" checked="">
						<span class="check"></span>
						One Day
					</label>
				</div>
				<div class="input-control radio  default-style" data-role="input-control">
					<label>
						<input type="radio" name="recurrence" value="daily">
						<span class="check"></span>
						Daily
					</label>
				</div>
				<div class="input-control radio  default-style" data-role="input-control">
					<label>
						<input type="radio" name="recurrence" value="weekly">
						<span class="check"></span>
						Weekly
					</label>
				</div>
				<div class="input-control radio  default-style" data-role="input-control">
					<label>
						<input type="radio" name="recurrence" value="monthly">
						<span class="check"></span>
						Monthly
					</label>
				</div>				
			</div>
			
			<label>Start Date</label>
			<div class="input-control text" data-role="input-control">
				<input type="text" placeholder="type text" autofocus="">
				<button class="btn-clear" tabindex="-1" type="button"></button>
			</div>
			
			<label>End Date</label>
			<div class="input-control text" data-role="input-control">
				<input type="text" placeholder="type text" autofocus="">
				<button class="btn-clear" tabindex="-1" type="button"></button>
			</div>
			
			<div class="input-control select">
				<select>
					<option>First</option>
					<option>Second</option>
					<option>Third</option>
					<option>Fourth</option>
					<option>Last</option>
				</select>
			</div>	
			<div class="input-control select">
				<select>
					<option>Sunday</option>
					<option>Monday</option>
					<option>Tuesday</option>
					<option>Wednesday</option>
					<option>Thursday</option>
					<option>Friday</option>
					<option>Saturday</option>
				</select>
			</div>			

			<input type="submit" value="Submit">
		</fieldset>
	</form>
</div>