<div style="background: url(images/b1.jpg) top left no-repeat; background-size: cover; height: 300px;">
    <div class="container" style="padding: 50px 20px">
        <h1 class="fg-white">Indian Christian Literature</h1>
        <h2 class="fg-white">
            Find Christian music, lyrics, books from India.
        </h2>
    </div>
</div>

<div class="container">
    <div class="grid fluid">
        <div class="row">
            <div class="span4 bg-amber padding20 text-center">
                <h2 class="fg-white">Lyrics</h2>
            </div>
            <div class="span4 bg-green padding20 text-center">
                <h2 class="fg-white">Musics</h2>
            </div>
            <div class="span4 bg-red padding20 text-center">
                <h2 class="fg-white">Videos</h2>
            </div>
        </div>
    </div>
</div>